body {
  background-color: #779fa1;
}

#curTime {
  text-align: left;
}

.card {
  background-color: #eef0f2;
}

.table {
  background-color: ;
}

#current-card {
  background-color: ;
}

.card-header {
  background-color: ;
}

.card-title {
  font-family: "Staatliches", cursive;
  font-size: 44px;
}
